In [4]:
import pandas as pd
import numpy as np

In [5]:
df=pd.read_csv('/content/cars.csv')

In [6]:
df.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

In [7]:
df['brand'].value_counts()

brand
Maruti           2448
Hyundai          1415
Mahindra          772
Tata              734
Toyota            488
Honda             467
Ford              397
Chevrolet         230
Renault           228
Volkswagen        186
BMW               120
Skoda             105
Nissan             81
Jaguar             71
Volvo              67
Datsun             65
Mercedes-Benz      54
Fiat               47
Audi               40
Lexus              34
Jeep               31
Mitsubishi         14
Land                6
Force               6
Isuzu               5
Ambassador          4
Kia                 4
MG                  3
Daewoo              3
Ashok               1
Opel                1
Peugeot             1
Name: count, dtype: int64

In [27]:
df['brand'].nunique()

0                First Owner
1               Second Owner
2                Third Owner
3                First Owner
4                First Owner
                ...
8123             First Owner
8124    Fourth & Above Owner
8125             First Owner
8126             First Owner
8127             First Owner
Name: owner, Length: 8128, dtype: object

In [9]:
df['fuel'].value_counts()

fuel
Diesel    4402
Petrol    3631
CNG         57
LPG         38
Name: count, dtype: int64

In [10]:
df['owner'].value_counts()

owner
First Owner             5289
Second Owner            2105
Third Owner              555
Fourth & Above Owner     174
Test Drive Car             5
Name: count, dtype: int64

# One hot Encoding

In [73]:
df_encoded = pd.get_dummies(df, columns=['fuel', 'owner'],dtype=np.int32)
df_encoded

,brand,km_driven,selling_price,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,0,1,0,0,1,0,0,0,0
1,Skoda,120000,370000,0,1,0,0,0,0,1,0,0
2,Honda,140000,158000,0,0,0,1,0,0,0,0,1
3,Hyundai,127000,225000,0,1,0,0,1,0,0,0,0
4,Maruti,120000,130000,0,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,0,0,0,1,1,0,0,0,0
8124,Hyundai,119000,135000,0,1,0,0,0,1,0,0,0
8125,Maruti,120000,382000,0,1,0,0,1,0,0,0,0
8126,Tata,25000,290000,0,1,0,0,1,0,0,0,0
8127,Tata,25000,290000,0,1,0,0,1,0,0,0,0

# Convert bool to int

In [13]:
df_encoded.iloc[:, 3:] = df_encoded.iloc[:, 3:].astype(int)

df_encoded  # Convert True/False to 1/0

<ipython-input-13-fff528d6daa3>:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0       0
1       0
2       0
3       0
4       0
       ..
8123    0
8124    0
8125    0
8126    0
8127    0
Name: fuel_CNG, Length: 8128, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df_encoded.iloc[:, 3:] = df_encoded.iloc[:, 3:].astype(int)
<ipython-input-13-fff528d6daa3>:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0       1
1       1
2       0
3       1
4       0
       ..
8123    0
8124    1
8125    1
8126    1
8127    1
Name: fuel_Diesel, Length: 8128, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df_encoded.iloc[:, 3:] = df_encoded.iloc[:, 3:].astype(int)
<ipython-input-13-fff528d6daa3>:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0       0
1       0
2       0
3       0
4       0
       ..
8123    0
8124    0
8125    0
8126    0
8127    0
Name: fuel_LPG, Length: 8128, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df_encoded.iloc[:, 3:] = df_encoded.iloc[:, 3:].astype(int)
<ipython-input-13-fff528d6daa3>:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0       0
1       0
2       1
3       0
4       1
       ..
8123    1
8124    0
8125    0
8126    0
8127    0
Name: fuel_Petrol, Length: 8128, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df_encoded.iloc[:, 3:] = df_encoded.iloc[:, 3:].astype(int)
<ipython-input-13-fff528d6daa3>:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0       1
1       0
2       0
3       1
4       1
       ..
8123    1
8124    0
8125    1
8126    1
8127    1
Name: owner_First Owner, Length: 8128, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df_encoded.iloc[:, 3:] = df_encoded.iloc[:, 3:].astype(int)
<ipython-input-13-fff528d6daa3>:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0       0
1       0
2       0
3       0
4       0
       ..
8123    0
8124    1
8125    0
8126    0
8127    0
Name: owner_Fourth & Above Owner, Length: 8128, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df_encoded.iloc[:, 3:] = df_encoded.iloc[:, 3:].astype(int)
<ipython-input-13-fff528d6daa3>:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0       0
1       1
2       0
3       0
4       0
       ..
8123    0
8124    0
8125    0
8126    0
8127    0
Name: owner_Second Owner, Length: 8128, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df_encoded.iloc[:, 3:] = df_encoded.iloc[:, 3:].astype(int)
<ipython-input-13-fff528d6daa3>:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0       0
1       0
2       0
3       0
4       0
       ..
8123    0
8124    0
8125    0
8126    0
8127    0
Name: owner_Test Drive Car, Length: 8128, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df_encoded.iloc[:, 3:] = df_encoded.iloc[:, 3:].astype(int)
<ipython-input-13-fff528d6daa3>:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0       0
1       0
2       1
3       0
4       0
       ..
8123    0
8124    0
8125    0
8126    0
8127    0
Name: owner_Third Owner, Length: 8128, dtype: int64' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df_encoded.iloc[:, 3:] = df_encoded.iloc[:, 3:].astype(int)

,brand,km_driven,selling_price,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,0,1,0,0,1,0,0,0,0
1,Skoda,120000,370000,0,1,0,0,0,0,1,0,0
2,Honda,140000,158000,0,0,0,1,0,0,0,0,1
3,Hyundai,127000,225000,0,1,0,0,1,0,0,0,0
4,Maruti,120000,130000,0,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,0,0,0,1,1,0,0,0,0
8124,Hyundai,119000,135000,0,1,0,0,0,1,0,0,0
8125,Maruti,120000,382000,0,1,0,0,1,0,0,0,0
8126,Tata,25000,290000,0,1,0,0,1,0,0,0,0
8127,Tata,25000,290000,0,1,0,0,1,0,0,0,0

# K-1 OneHotend

In [75]:
df_encoded1 = pd.get_dummies(df, columns=['fuel', 'owner'],drop_first=True,dtype=np.int32)
#df_encoded1.iloc[:, 3:] = df_encoded.iloc[:, 3:].astype(int)
df_encoded1

,brand,km_driven,selling_price,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,1,0,0,0,0,0,0
1,Skoda,120000,370000,1,0,0,0,1,0,0
2,Honda,140000,158000,0,0,1,0,0,0,1
3,Hyundai,127000,225000,1,0,0,0,0,0,0
4,Maruti,120000,130000,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,0,0,1,0,0,0,0
8124,Hyundai,119000,135000,1,0,0,1,0,0,0
8125,Maruti,120000,382000,1,0,0,0,0,0,0
8126,Tata,25000,290000,1,0,0,0,0,0,0
8127,Tata,25000,290000,1,0,0,0,0,0,0

# OneHotEncoding using Sklearn

In [15]:
df.head(2)

    brand  km_driven    fuel         owner  selling_price
0  Maruti     145500  Diesel   First Owner         450000
1   Skoda     120000  Diesel  Second Owner         370000

In [18]:
from sklearn.model_selection import train_test_split
x_tr,x_te,y_tr,y_te=train_test_split(df.iloc[:,0:4],df.iloc[:,-1],test_size=0.2,random_state=2)

In [20]:
x_tr

         brand  km_driven    fuel         owner
5571   Hyundai      35000  Diesel   First Owner
2038      Jeep      60000  Diesel   First Owner
2957   Hyundai      25000  Petrol   First Owner
7618  Mahindra     130000  Diesel  Second Owner
6684   Hyundai     155000  Diesel   First Owner
...        ...        ...     ...           ...
3606      Ford      35000  Diesel   First Owner
5704    Maruti     120000  Petrol   First Owner
6637      Tata      15000  Petrol   First Owner
2575    Maruti      32500  Diesel  Second Owner
7336     Isuzu     121000  Diesel   First Owner

[6502 rows x 4 columns]

In [58]:
from sklearn.preprocessing import OneHotEncoder

In [68]:
ohe = OneHotEncoder(drop='first', sparse_output= False,dtype = np.int32)
# drop the first col

In [69]:
x_tr_new=ohe.fit_transform(x_tr[['fuel','owner']])

In [70]:
x_te_new=ohe.fit_transform(x_te[['fuel','owner']])

In [71]:
x_tr_new# this is 9 col now we have to append it with x_tr[brand,km_driven]

array([[1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0],
       ...,
       [0, 0, 1, ..., 0, 0, 0],
       [1, 0, 0, ..., 1, 0, 0],
       [1, 0, 0, ..., 0, 0, 0]], dtype=int32)

In [48]:
x_tr[['brand','km_driven']].values

array([['Hyundai', 35000],
       ['Jeep', 60000],
       ['Hyundai', 25000],
       ...,
       ['Tata', 15000],
       ['Maruti', 32500],
       ['Isuzu', 121000]], dtype=object)

## append or horizontally joining both dataframes

In [95]:
np.hstack([x_tr[['brand','km_driven']].values,x_tr_new ]) # here we are treating as list

array([['Hyundai', 35000, 1, ..., 0, 0, 0],
       ['Jeep', 60000, 1, ..., 0, 0, 0],
       ['Hyundai', 25000, 0, ..., 0, 0, 0],
       ...,
       ['Tata', 15000, 0, ..., 0, 0, 0],
       ['Maruti', 32500, 1, ..., 1, 0, 0],
       ['Isuzu', 121000, 1, ..., 0, 0, 0]], dtype=object)

In [49]:
np.hstack((x_tr[['brand','km_driven']].values,x_tr_new )) # here we are treating as tuple

array([['Hyundai', 35000, 1.0, ..., 0.0, 0.0, 0.0],
       ['Jeep', 60000, 1.0, ..., 0.0, 0.0, 0.0],
       ['Hyundai', 25000, 0.0, ..., 0.0, 0.0, 0.0],
       ...,
       ['Tata', 15000, 0.0, ..., 0.0, 0.0, 0.0],
       ['Maruti', 32500, 1.0, ..., 1.0, 0.0, 0.0],
       ['Isuzu', 121000, 1.0, ..., 0.0, 0.0, 0.0]], dtype=object)

# OneHOtEnc with top categories

In [85]:
counts=df['brand'].value_counts()
threshold=100

In [89]:
repl=counts[counts<=threshold].index

In [93]:
pd.get_dummies(df['brand'].replace(repl,'uncommon'),dtype=np.int32)

,Chevrolet,Ford,Honda,Hyundai,Mahindra,Maruti,Renault,Tata,Toyota,uncommon
0,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1
2,0,0,1,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
8123,0,0,0,1,0,0,0,0,0,0
8124,0,0,0,1,0,0,0,0,0,0
8125,0,0,0,0,0,1,0,0,0,0
8126,0,0,0,0,0,0,0,1,0,0
8127,0,0,0,0,0,0,0,1,0,0